<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Package Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Medical Package Recommender</h1>

    <textarea
        id="message"
        placeholder="Describe your symptoms..."
    ></textarea>

    <button id="predictBtn">
        Predict Package
    </button>
    <h2>Recommended Package</h2>

    <div class="result-box">
        <p id="result">-</p>
    </div>

</div>
    <script>
    const button = document.getElementById("predictBtn");

    button.addEventListener("click", async () => {

        const message = document.getElementById("message").value;

        const response = await fetch("/predict", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                message: message
            })
        });

        const data = await response.json();

        document.getElementById("result").textContent = data.package;
    });
</script>

</body>
</html>